graft config
graft docs
graft src
graft tests

include .coveragerc
include .editorconfig

include Makefile

include CHANGELOG.rst
include README.rst
include LICENSE
include requirements.txt
include test-requirements.txt
include Dockerfile
include tox.ini .travis.yml

recursive-include docker *
recursive-include examples *.py

global-exclude *.py[cod] __pycache__ *.so *.dylib
exclude .pytest_cache
